<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bkane56.grocerylist" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_g_cart"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.AddItemsToListActivity"
            android:label="@string/title_activity_add_items_to_list" >
        </activity>
        <activity
            android:name=".activities.ScanItemActivity"
            android:label="@string/title_activity_scan_item" >
        </activity>
        <activity
            android:name=".activities.ShowListActivity"
            android:label="@string/title_activity_show_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.StaplesActivity"
            android:label="@string/title_activity_staples"
            android:theme="@style/MyMaterialTheme" >
        </activity>
    </application>

</manifest>
